*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    
}
body
{
    background-color: rgb(2, 1, 1);
}
 .cartbg
{
    background-color: rgb(255, 255, 255) ;
    width: 500px;
    height: 800px;
    float: left;
    display: flex;
    margin-left: -14.5%;
    margin-top: 0.3%;
    z-index: 0;
    position: absolute;
    transition: all .5s ease-in-out;
    
} 
.notification
{
  background-color: #111;
  position: absolute;
  color: #ffff;
  margin-top:-40px ;
  margin-left: -19px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  padding-top: 4px;
  text-align: center;
}
/* .divcartpopup
{
    background-color: rgb(255, 248, 248);
    width: 70px;
    height: 30px;
} */
.containernavbar
{
    background-color: rgb(255, 255, 255) ;
    height: 5vh;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    
}
.navbacomp img
{
  width: 60px !important;
  height: 60px!important;
  margin-top: -19px !important;
  color: #111;
}  
.navbacomp h1{
  margin-left: 60px;
  margin-top: -50px;
  text-decoration: none !important;
  color: #111;
}

.containernavbar ul
{
    display: flex;
    flex-direction: row;
    
}
.containernavbar ul li  img
{
    width: 35px;
    height: 35px;
    margin-top: -11px;
}
.card-container
{  display: flex;
    flex-flow: row wrap;
    margin: 50px;
    justify-content: space-between;
    margin-right: 122px;
   
    /* align-items: center; */
}
.containernavbar ul li 
{
    list-style: none;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    
}
.card
{  
    width: 250px;
    height: 350px;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* background-color: blue; */
    border:2px solid black ;
    border-radius: 6%;
    overflow: hidden;
    box-shadow: 10px 10px  rgb(53, 51, 51);;
    background-color: rgb(250, 246, 246);
    
}
.card:hover
{
  scale: 1.1;
  transition: 1s;
}
.card img
{
    width: 200px;
    height: 160px;
}
.card-container .card
{
    justify-content: space-between;
    margin-left:10% ;
    margin-bottom: 15px;
}
.card-btn button
{   cursor: pointer;
    background-color: black;
    color: white;
    
}
.cartButton
{
  border-radius: 15px;
}
.card-btn button:hover
{
  background-color: rgb(155, 150, 150);
  
}
button
{
    width: 200px;
    height: 40px;
    margin-bottom: 4px;
    /* border-radius: 15px; */
}

  /* cart  bg */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  /* cart  bg */
  /* cart content */
  .cartContent
  {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
   
  }
  .cardcart 
  {
    background-color: #f1f1f1;
    color: #111;
    border: 2px solid black;
    display: flex;
    width: 450px;
    height: 100px;
    
  }
  .DivproductImg img
  {
    width: 100px;
    height: 100px;
    position:sticky;
    margin-left: 5px;
    overflow: hidden;
  }
  span {cursor:pointer; }
  .number{
      margin:100px;
  }
  .minus, .plus{
      width:20px;
      height:20px;
      background:#f2f2f2;
      border-radius:4px;
      
      border:1px solid #ddd;
display: inline-block;
vertical-align: middle;
text-align: center;
  }
  input{
      height:24px;
width: 50px;
text-align: center;
font-size: 26px;
      border:1px solid #ddd;
      border-radius:4px;
display: inline-block;
vertical-align: middle;
  }   
  .cardcart  button  
  { height: 20px;
    width: 20px;
    margin-left: 20px;
    margin-top: 29px;
    justify-content: space-between;
  }

 /* .cardcart h1{
    margin-top: 20px;
    margin-right: 20px;
    position:sticky;
 } */
 .productTitleC 
 {
  margin-top: 20px;
    width: 115px;
    height: 12px;
    margin-right: 15px;
    position:sticky;
 }
 /* .cardcart .quantity{
    margin-top: 30px;
    margin-left: 10px;
 } */
 .cartProductSize 
 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

  margin-top: 32px;
  /* margin-left: 10px; */
 }
 .cardcart  .card-price{
    margin-top: 30px;
    margin-left: 20px;
    position: sticky;
    font-weight: 700;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }
 .card h1
 { 
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
 }
 .card-price
 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 700;
 }
 .card .productSize
 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 700;
 }
 .cardcart .productSize
 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 700;
 }
  .total 
  { color: rgb(0, 0, 0);
    background-color: white;
    width: 500px;
    height: 70px;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
  }
  .cartContent .total p
  {
   margin-top: 16px;
   font-size: 180%;
   font-weight: 500;
  }
  .total h1
  {
    margin: 0px 0px 0px 250px ;
    padding: 15px;
  }
  .totalbtn button
  {
    width: 100%;
    text-align: center;
    margin:800px 0px 0px 0px;
    font-size: 30px;
    font-weight: 500;
    position: absolute;
    border: 2px solid black;
    /* top: 900px; */
    /* margin-top: 800px; */
  }
  .totalbtn button:hover{
    background-color: #111;
    color: white;
  }
   button img{
  width: 30px;
  height: 30px;
  cursor: pointer;
  position: static;
  /* box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); */
}
#removecard
{
  margin-top: -5px;
 
}
.imgcard img:hover {
  /* rotate: 360deg; */
  transition: 1s;
  border-radius: 0;
  transform: rotateY(180deg);
  border-radius: 10px;
 scale: 1.5;
}
